<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.bike.mapper.InventoryMapper">
    <resultMap id="inventory_result" type="com.start.bike.entity.Inventory">
        <result property="inventoryId" column="inventoryId"/>
        <result property="productName" column="productName"/>
        <result property="stashName" column="stashName"/>
        <result property="supplierName" column="supplierName"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <!-- 查询库存信息 -->
    <select id="selectInventoryById" parameterType="com.start.bike.entity.Inventory" resultType="com.start.bike.entity.Inventory">
        SELECT
        inventoryId,
        productName,
        stashName,
        supplierName,
        quantity,
        lastStockTime
        FROM tb_inventory
        WHERE 1=1
        <if test="inventoryId != null">
            AND inventoryId = #{inventoryId}
        </if>
    </select>

    <select id="selectAllInventory" parameterType="com.start.bike.entity.Inventory" resultType="com.start.bike.entity.Inventory">
        SELECT * FROM tb_inventory LIMIT ${(page-1)*size}, ${size}
    </select>

    <!-- 插入库存信息 -->
    <insert id="insertInventory" parameterType="com.start.bike.entity.Inventory">
        INSERT INTO tb_inventory (
            productName,
            stashName,
            supplierName,
            quantity,
            lastStockTime
        ) VALUES (
                     #{productName},
                     #{stashName},
                     #{supplierName},
                     #{quantity},
                     NOW()
                 )
    </insert>

    <!-- 更新库存信息 -->
    <update id="updateInventory" parameterType="com.start.bike.entity.Inventory">
        UPDATE tb_inventory
        <set>
            <if test="productName != null">productName = #{productName},</if>
            <if test="stashName != null">stashName = #{stashName},</if>
            <if test="supplierName != null">supplierName = #{supplierName},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            lastStockTime = NOW()
        </set>
        WHERE inventoryId = #{inventoryId}
    </update>

    <!-- 删除库存信息 -->
    <delete id="deleteInventoryById" parameterType="com.start.bike.entity.Inventory">
        DELETE FROM tb_inventory
        WHERE inventoryId = #{inventoryId}
    </delete>

</mapper>