<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.bike.mapper.InventoryMapper">
    <resultMap id="inventory_result" type="com.start.bike.entity.Inventory">
        <result property="inventoryId" column="inventoryId"/>
        <result property="productId" column="productId"/>
        <result property="stashId" column="stashId"/>
    </resultMap>

    <!-- 查询库存信息 -->
    <select id="selectInventory" parameterType="com.start.bike.entity.Inventory" resultType="com.start.bike.entity.Inventory">
        SELECT
        inventoryId,
        productId,
        stashId,
        quantity,
        createTime,
        updateTime
        FROM inventory
        WHERE 1=1
        <if test="inventoryId != null">
            AND inventoryId = #{inventoryId}
        </if>
        <if test="productId != null">
            AND productId = #{productId}
        </if>
        <if test="stashId != null">
            AND stashId = #{stashId}
        </if>
    </select>

    <!-- 插入库存信息 -->
    <insert id="insertInventory" parameterType="com.start.bike.entity.Inventory">
        INSERT INTO inventory (
            productId,
            stashId,
            quantity,
            createTime,
            updateTime
        ) VALUES (
                     #{productId},
                     #{stashId},
                     #{quantity},
                    NOW(),
                  NOW()
                 )
    </insert>

    <!-- 更新库存信息 -->
    <update id="updateInventory" parameterType="com.start.bike.entity.Inventory">
        UPDATE inventory
        <set>
            <if test="productId != null">productId = #{productId},</if>
            <if test="stashId != null">stashId = #{stashId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            updateTime = NOW()
        </set>
        WHERE inventoryId = #{inventoryId}
    </update>

    <!-- 删除库存信息 -->
    <delete id="deleteInventory" parameterType="com.start.bike.entity.Inventory">
        DELETE FROM inventory
        WHERE inventoryId = #{inventoryId}
    </delete>

</mapper>