<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.bike.mapper.LogMapper">
    <!-- 定义结果映射 -->
    <resultMap id="log_result" type="com.start.bike.entity.Log">
        <result column="hisData" property="hisData" />
        <result column="carrySQL" property="carrySQL" />
        <result column="updateData" property="updateData" />
        <result column="actorName" property="actorName"/>
        <result column="actionTime" property="actionTime" />
    </resultMap>

    <!-- 插入日志信息 -->
    <insert id="insertLog" parameterType="com.start.bike.entity.Log">
        INSERT INTO tb_log (
            type,
            hisData,
            carrySQL,
            updateData,
            actorName,
            actionTime
        ) VALUES (
                    #{type},
                     #{hisData},
                     #{carrySQL},
                     #{updateData},
                     #{actorName},
                     NOW()
                 )
    </insert>
</mapper>