<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.bike.mapper.ProductMapper">

    <!-- Result Map for Product -->
    <resultMap id="ProductResultMap" type="com.start.bike.entity.Product">
        <id property="productId" column="productId"/>
        <result property="productName" column="productName"/>
        <result property="category" column="category"/>
        <result property="supplierName" column="supplierName"/>
        <result property="stashName" column="stashName"/>
        <result property="storageTemperature" column="storageTemperature"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <!-- Select Product by Primary Key -->
    <select id="selectProductById" parameterType="com.start.bike.entity.Product" resultMap="ProductResultMap">
        SELECT
            productId,
            productName,
            category,
            supplierName,
            stashName,
            storageTemperature,
            createTime,
            updateTime
        FROM
            tb_product
        WHERE 1 = 1
        <if test="productId != null"> AND productId = #{productId}</if>
    </select>

    <select id="selectProductCreate" parameterType="com.start.bike.entity.Product" resultMap="ProductResultMap">
        SELECT
        productId,
        productName,
        category,
        supplierName,
        stashName,
        storageTemperature,
        createTime,
        updateTime
        FROM
        tb_product
        WHERE 1 = 1
        <if test="productName != null"> AND productName = #{productName}</if>
        ORDER BY createTime DESC LIMIT 1
    </select>

    <!-- Select Product by Primary Key -->
    <select id="selectProductByName" parameterType="com.start.bike.entity.Product" resultMap="ProductResultMap">
        SELECT
        productId,
        productName,
        category,
        supplierName,
        stashName,
        storageTemperature,
        createTime,
        updateTime
        FROM
        tb_product
        WHERE 1 = 1
        <if test="productName != null"> AND productName = #{productName}</if>
        <if test="category != null"> AND category = #{category}</if>
        <if test="supplierName != null"> AND supplierName = #{supplierName}</if>
        <if test="stashName != null"> AND stashName = #{stashName}</if>
        <if test="storageTemperature != null"> AND storageTemperature = #{storageTemperature}</if>
    </select>




    <!-- 查询多条数据 -->
    <select id="selectAllProduct" parameterType="com.start.bike.entity.Product" resultMap="ProductResultMap">
        SELECT * FROM tb_product LIMIT ${(page-1)*size}, ${size}
    </select>

    <!-- Insert Product -->
    <insert id="insertProduct" parameterType="com.start.bike.entity.Product">
        INSERT INTO tb_product (
            productName,
            category,
            supplierName,
            stashName,
            storageTemperature,
            createTime,
            updateTime
        ) VALUES (
                     #{productName},
                     #{category},
                     #{supplierName},
                     #{stashName},
                     #{storageTemperature},
                     NOW(),
                     NOW()
                 )
    </insert>

    <!-- Update Product -->
    <update id="updateProduct" parameterType="com.start.bike.entity.Product">
        UPDATE tb_product
        SET
           <if test="productName != null">productName = #{productName},</if>
           <if test="category != null">category = #{category},</if>
           <if test="supplierName != null">supplierName = #{supplierName},</if>
           <if test="stashName != null">stashName = #{stashName},</if>
           <if test="storageTemperature != null">storageTemperature = #{storageTemperature},</if>
            updateTime = NOW()
        WHERE
            productId = #{productId}
    </update>

    <!-- Delete Product -->
    <delete id="deleteProductById" parameterType="com.start.bike.entity.Product">
        DELETE FROM tb_product
        WHERE productId = #{productId}
    </delete>

</mapper>