<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.bike.mapper.StashMapper">
    <resultMap id="stash_result" type="com.start.bike.entity.Stash">
        <result column="stashName" property="stashName"/>
        <result column="stashAddress" property="stashAddress"/>
        <result column="storageTemperature" property="storageTemperature"/>
        <result column="stashArea" property="stashArea"/>
        <result column="adminName" property="adminName"/>
    </resultMap>

    <!-- 表单 -->
    <select id="selectAllStash" resultType="com.start.bike.entity.Stash" resultMap="stash_result">
        SELECT * FROM tb_stash
        <where> 1 = 1
            <if test="stashName != null and stashName != '' "> AND stashName LIKE CONCAT('%', #{stashName}, '%')</if>
            <if test="stashAddress != null and stashAddress != '' "> AND stashAddress LIKE CONCAT('%', #{stashAddress}, '%')</if>
            <if test="storageTemperature != null and storageTemperature != '' "> AND storageTemperature = #{storageTemperature}</if>
                 <if test="adminName !=null and adminName!='' ">AND adminName=#{adminName}</if>
        </where>
        ORDER BY createTime DESC
    </select>

    <select id="selectStashById" resultType="com.start.bike.entity.Stash" resultMap="stash_result">
        SELECT * FROM tb_stash WHERE 1=1
        <if test="stashId != null">
            AND stashId = #{stashId}
        </if>
    </select>

    <select id="selectStashCreate" resultType="com.start.bike.entity.Stash" resultMap="stash_result">
        SELECT
        stashId,
        stashName,
        stashAddress,
        storageTemperature,
        stashArea,
        adminName,
        createTime,
        updateTime
        FROM tb_stash WHERE 1=1
        <if test="stashName != null">
            AND stashName = #{stashName}
        </if>
        ORDER BY createTime DESC LIMIT 1
    </select>


    <select id="isStashExist" resultType="boolean">
        SELECT COUNT(1) > 0 FROM tb_stash WHERE stashName = #{stashName}
    </select>
    <!-- 插入仓库信息 -->
    <insert id="insertStash" parameterType="com.start.bike.entity.Stash">
        INSERT INTO tb_stash (
            stashName,
            stashAddress,
            storageTemperature,
            stashArea,
            adminName,
            createTime,
            updateTime
        ) VALUES (
                     #{stashName},
                     #{stashAddress},
                     #{storageTemperature},
                     #{stashArea},
                     #{adminName},
                        NOW(),
                  NOW()
                 )
    </insert>

    <!-- 更新仓库信息 -->
    <update id="updateStash" parameterType="com.start.bike.entity.Stash">
        UPDATE tb_stash
        <set>
            <if test="stashName != null">stashName = #{stashName},</if>
            <if test="stashAddress != null">stashAddress = #{stashAddress},</if>
            <if test="storageTemperature != null">storageTemperature = #{storageTemperature},</if>
            <if test="stashArea != null">stashArea = #{stashArea},</if>
            <if test="adminName != null">adminName = #{adminName},</if>
            updateTime = NOW()
        </set>
        WHERE stashId = #{stashId}
    </update>

    <!-- 根据stashId删除 -->
    <delete id="deleteStashById" parameterType="Integer">
        DELETE FROM tb_stash WHERE stashId = #{stashId}
    </delete>
</mapper>