<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.bike.mapper.SuppliersMapper">
    <resultMap id="supplier_result" type="com.start.bike.entity.Suppliers">
        <result column="supplierId" property="supplierId"/>
        <result column="supplierName" property="supplierName"/>
        <result column="contactName" property="contactName"/>
        <result column="address" property="address"/>
        <result column="bankAccount" property="bankAccount"/>
        <result column="cooperationStatus" property="cooperationStatus"/>
    </resultMap>

    <!-- 查询供应商 -->
    <select id="selectSuppliersById" parameterType="com.start.bike.entity.Suppliers" resultType="com.start.bike.entity.Suppliers">
        SELECT
        supplierId,
        supplierName,
        contactName,
        contactPhone,
        address,
        bankAccount,
        cooperationStatus,
        createTime,
        updateTime
        FROM tb_suppliers
        WHERE 1=1
        <if test="supplierId != null">
            AND supplierId = #{supplierId}
        </if>
    </select>

    <!-- 创建日志 -->
    <select id="selectSuppliersCreate" parameterType="com.start.bike.entity.Suppliers" resultType="com.start.bike.entity.Suppliers">
        SELECT
        supplierId,
        supplierName,
        contactName,
        contactPhone,
        address,
        bankAccount,
        cooperationStatus,
        createTime,
        updateTime
        FROM tb_suppliers
        WHERE 1=1
        <if test="supplierName != null">
            AND supplierName = #{supplierName}
        </if>
        ORDER BY createTime DESC LIMIT 1
    </select>


    <!-- 查询多条数据 -->
    <select id="selectAllSuppliers" parameterType="com.start.bike.entity.Suppliers" resultType="com.start.bike.entity.Suppliers">
        SELECT * FROM tb_suppliers LIMIT ${(page-1)*size}, ${size}
    </select>


    <!-- 插入供应商 -->
    <insert id="insertSuppliers" parameterType="com.start.bike.entity.Suppliers">
        INSERT INTO tb_suppliers (
            supplierName,
            contactName,
            contactPhone,
            address,
            bankAccount,
            cooperationStatus,
            createTime,
            updateTime
        ) VALUES (
                     #{supplierName},
                     #{contactName},
                     #{contactPhone},
                     #{address},
                     #{bankAccount},
                     #{cooperationStatus},
                     NOW(),
                     NOW()
                 )
    </insert>

    <!-- 更新供应商 -->
    <update id="updateSuppliers" parameterType="com.start.bike.entity.Suppliers">
        UPDATE tb_suppliers
        <set>
            <if test="supplierName != null and supplierName != ''">
                supplierName = #{supplierName},
            </if>
            <if test="contactName != null and contactName != ''">
                contactName = #{contactName},
            </if>
            <if test="contactPhone != null and contactPhone != ''">
                contactPhone = #{contactPhone},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="bankAccount != null and bankAccount != ''">
                bankAccount = #{bankAccount},
            </if>
            <if test="cooperationStatus != null">
                cooperationStatus = #{cooperationStatus},
            </if>
            updateTime = NOW()
        </set>
        WHERE supplierId = #{supplierId}
    </update>

    <!-- 删除供应商 -->
    <delete id="deleteSuppliersById" parameterType="com.start.bike.entity.Suppliers">
        DELETE FROM tb_suppliers
        WHERE supplierId = #{supplierId}
    </delete>


</mapper>