<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.bike.mapper.TaskMapper">
    <resultMap id="task_result" type="com.start.bike.entity.Task">
        <result column="taskName" property="taskName"/>
        <result column="taskDescription" property="taskDescription"/>
        <result column="taskStatus" property="taskStatus"/>
        <result column="taskType" property="taskType"/>
        <result column="taskAdminName" property="taskAdminName"/>
        <result column="taskUserName" property="taskUserName" typeHandler="com.start.bike.typehandler.StringListTypeHandler"/>
    </resultMap>

    <!-- 正确写法 -->
    <select id="selectAllTask" resultType="com.start.bike.entity.Task" resultMap="task_result">
        SELECT * FROM tb_task LIMIT ${(page-1)*size}, ${size}
    </select>

<!--    ID查询数据-->
    <select id="selectTaskById" resultType="com.start.bike.entity.Task" resultMap="task_result">
        SELECT
        taskId,
        taskName,
        taskDescription,
        taskStatus,
        taskType,
        taskAdminName,
        taskUserName,
        createTime,
        updateTime
        FROM tb_task WHERE 1=1
        <if test="taskId != null">
            AND taskId = #{taskId}
        </if>
    </select>

<!--创建日志数据-->
    <select id="selectTaskCreate" resultType="com.start.bike.entity.Task" resultMap="task_result">
        SELECT
        taskId,
        taskName,
        taskDescription,
        taskStatus,
        taskType,
        taskAdminName,
        taskUserName,
        createTime,
        updateTime
        FROM tb_task WHERE 1=1
        <if test="taskName != null">
            AND taskName = #{taskName}
        </if>
        ORDER BY createTime DESC LIMIT 1
    </select>

    <!-- 插入仓库信息 -->
    <insert id="insertTask" parameterType="com.start.bike.entity.Task">
        INSERT INTO tb_task (
            taskName,
            taskDescription,
            taskStatus,
            taskType,
            taskAdminName,
            taskUserName,
            createTime,
            updateTime
        ) VALUES (
                     #{taskName},
                     #{taskDescription},
                     #{taskStatus},
                     #{taskType},
                     #{taskAdminName},
                     #{taskUserName, typeHandler=com.start.bike.typehandler.StringListTypeHandler},
                     NOW(),
                     NOW()
                 )
    </insert>

    <!-- 更新仓库信息 -->
    <update id="updateTask" parameterType="com.start.bike.entity.Task">
        UPDATE tb_task
        <set>
            <if test="taskName != null">taskName = #{taskName},</if>
            <if test="taskDescription != null">taskDescription = #{taskDescription},</if>
            <if test="taskStatus != null">taskStatus = #{taskStatus},</if>
            <if test="taskType != null">taskType = #{taskType},</if>
            <if test="taskAdminName != null">taskAdminName = #{taskAdminName},</if>
            <if test="taskUserName != null">taskUserName = #{taskUserName, typeHandler=com.start.bike.typehandler.StringListTypeHandler},</if>
            updateTime = NOW()
        </set>
        WHERE taskId = #{taskId}
    </update>


    <!-- 根据stashId删除 -->
    <delete id="deleteTaskById" parameterType="Integer">
        DELETE FROM tb_task WHERE taskId = #{taskId}
    </delete>


</mapper>