<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.bike.mapper.UserMapper">
    <!-- 用户登录查询 -->
    <resultMap id="user_result" type="com.start.bike.entity.User">
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="position" property="position"/>
        <result column="workPlace" property="workPlace"/>
        <result column="telephone" property="telephone"/>
        <result column="role" property="role"/>
    </resultMap>

    <select id="selectLoginUser" resultMap="user_result">
        SELECT userName ,password FROM tb_user WHERE userName = #{username} AND password = #{password}
    </select>
    <select id="selectUserByPassword" resultType="com.start.bike.entity.User">
        SELECT password FROM tb_user WHERE username = #{username}
    </select>
    <select id="isUserExists" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM tb_user WHERE username = #{username})
    </select>

    <!-- 用户注册插入 -->
    <insert id="insertUser" parameterType="com.start.bike.entity.User">
        INSERT INTO tb_user (username, password, position, workPlace, telephone, role)
        VALUES (#{username}, #{password}, #{position}, #{workPlace}, #{telephone}, #{role})
    </insert>
    <update id="updateUser">
        UPDATE tb_user
        SET
        <if test="password != null">password = #{password},</if>
        <if test="position != null">position = #{position},</if>
        <if test="telephone != null">telephone = #{telephone},</if>
        <if test="workPlace != null">workPlace = #{workPlace},</if>
        <if test="role != null">role = #{role},</if>
            updateTime = NOW()
        WHERE
            userId = #{userId}
    </update>
    <delete id="deleteUser">
        DELETE FROM tb_user
        WHERE userId = #{userId}
    </delete>
</mapper>