<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.bike.mapper.UserMapper">
    <!-- 用户登录查询 -->
    <select id="selectUser" resultType="com.start.bike.entity.User">
        SELECT * FROM tb_user WHERE username = #{username} AND password = #{password}
    </select>
    <select id="selectUserByPassword" resultType="com.start.bike.entity.User">
        SELECT password FROM tb_user WHERE username = #{username}
    </select>
    <select id="isUserExists" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM tb_user WHERE username = #{username})
    </select>

    <!-- 用户注册插入 -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user (username, password)
        VALUES (#{username}, #{password})
    </insert>
    <update id="updateUser" useGeneratedKeys="true" keyProperty="id">
        UPDATE tb_user
        SET password = #{password}
        WHERE username = #{username}
    </update>
    <delete id="deleteUser">
        DELETE FROM tb_user
        WHERE username = #{username}
    </delete>
</mapper>